.sansation-light {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sansation-regular {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sansation-bold {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sansation-light-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sansation-regular-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.sansation-bold-italic {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body {
    margin: 6rem;
    background-color: #F2EDD1;
    font-family: "Sansation", sans-serif;
}
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* espaço entre colunas */
  flex-wrap: wrap; /* adapta para telas menores */
}

.profile-text {
  flex: 5;
}

.profile-image {
  flex: 0.5;
  display: flex;
  justify-content: center; /* centraliza a imagem na coluna */
}

#profile-pic {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  border: 5px solid #689b8a;
}

#title {
  background-color: #689b8a;
  color: #000000;
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
}

.regular-text {
  color: #280A3E;
  font-size: 18px;
}

.head-text {
  background-color: #689b8a;
  color: #000000;
  margin-right: 750px;
  font-size: 2rem;
  font-weight: 700;
}

#work-exp-text {
  margin-right: 650px;
}

#skills-text {
  margin-right: 820px;
}

footer {
  background-color: #689b8a;
  color: #000000;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1px;
}

#contact-me-ht {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: #239BA7;
}

#paragraph-1 {
  font-size: 18px;
}

#paragraph-2{
  font-size: 18px;
}

.paragraphs-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* espaço entre colunas */
  flex-wrap: wrap; /* adapta para telas menores */
}

.paragraph--1 {
  flex:1
}

.paragraph--2 {
  flex:1
}

.education-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* espaço entre colunas */
  flex-wrap: wrap; /* adapta para telas menores */
}

.ed-column-1 {
  flex: 1;
}

.ed-column-2 {
  flex: 1;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; /* espaço entre colunas */
  flex-wrap: wrap; /* adapta para telas menores */
}

.skills-column-1 {
  flex: 1;
}

.skills-column-2 {
  flex: 1;
}